.header {
    grid-area: head;
    top: 0;
    z-index: 10000;
    position: sticky;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: rgb(34, 34, 34);
}

.headerContainer figure {
    max-width: 2.5em;
    max-height: 2.5em;
    padding-inline: 0.5em;
}

.headerContainer img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

.headerContainer h1 {
    color: white;
    font-size: 1.1rem;
}

.headerContainer h2 {
    color: white;
    font-size: 1.25rem;
}

.headerContainer a {
    text-decoration: none;
}

.profileContainer {
    display: flex;
    gap: 1em;
    align-items: center;
}

.profileContainer span {
    font-weight: bold;
    color: white;
}

.dropdown {
    list-style: none;
    margin: 0;
    max-width: fit-content;
    position: relative;
}

.iconContainer {
    max-width: 1.7em;
    max-height: 1.7em;
}

.sidebarButton {
    display: none;
}

.titleContainer {
    display: flex;
    gap: 1em;
}

@media (width <=800px) {
    .headerContainer {
        padding: 0.5em 1em;
    }

    .headerContainer h1 {
        margin-left: 0.4em;
    }

    .sidebarButton {
        display: block;

        min-width: 1.5em;
        background-image: url("/icons/bars-solid-full.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
        background-color: transparent;
    }
}