.layoutContainer {
    display: grid;
    grid-template-areas: "head head" "nav main";
    grid-template-rows: auto 1fr;
    height: 100%;
    grid-template-columns: auto 1fr;
}

.mainTitle {
    font-size: 1.1rem;
    padding-inline: 0.5em;
}

.mainLayoutContainer {
    display: grid;
    grid-area: main;
    grid-template-rows: auto 1fr;
    row-gap: 0.5em;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 0.5em;
}

@media (width <=800px) {
    .mainTitle {
        font-size: 1rem;
    }
}