.row {
    box-sizing: content-box;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    gap: 10%;
}

.field {
    display: grid;
    gap: 0.3em;
    grid-template-rows: auto 1fr 0.5fr;
}


.field>label {
    font-weight: 600;
    font-size: 0.9rem;
}

.table table{
    border-collapse:collapse; 
    width:100%; 
    margin-top:0.5rem;
}

.table td{
    padding:10px 8px;
    vertical-align: top;
}

.table td:first-child {
    padding:10px 8px; 
    width:200px; 
    font-weight:600;
}

 td.noBold {
    font-weight: normal !important;
}

/* Estilos de Imagen */

.imageContainer {
    position: relative; 
    width: 450px;
    height: 450px;
}

.imageFit{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.imageFitBack{
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: #252525;
}

.row {
    box-sizing: content-box;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

.labelText{
    font-weight: 600;
    font-size: '0.9rem'
}

.columns{
    padding: 2%;
    gap: 5%;
    display: flex;
}

.columns > div {
    width: 70%;
}
.columns > .imageContainer {
    width: 30%;
}

.container{
    display: grid;
}


@media (width <=800px) {
    .fieldsContainer {
        min-width: fit-content;
        display: grid;
        margin: 0
    }

    .row {
        display: grid;
        margin: 1%;
        display: flexbox;
    }

    .row div {
        width: 100%;
    }

    .columns{
        display: grid ;
        margin-bottom: 20%;
    }

    .columns > .imageContainer {
        width: 100%;
    }
    .columns > div {
        width: 100%;
        margin: 0;
        margin-left:1%;
    }

}