html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-poppins-sans);
  overflow: hidden;
}

/* reset */
* {
  padding: 0;
  margin: 0;
}

input {
  font-family: var(--font-poppins-sans);
}

textarea {
  font-family: var(--font-poppins-sans);
}

select {
  font-family: var(--font-poppins-sans);
}

button {
  font-family: var(--font-poppins-sans);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.7;
  cursor: wait;
}

.mainLayout {
  max-width: 100vw;
  max-height: 100vh;

  height: 100%;
}

.error {
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(196, 0, 0);
}

legend{
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1%;
}