version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - uploads_data:/app/uploads
      - assets_data:/app/assets
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      PORT: ${PORT}

      DB_HOST: mysql
      DB_USER: ${BACKEND_DB_USER}
      DB_PASSWORD: ${BACKEND_DB_PASWD}
      DB_NAME: ${BACKEND_DB}

      ENABLE_EMAIL: ${ENABLE_EMAIL}
      ENABLE_WHATSAPP: ${ENABLE_WHATSAPP}

      BASE_URL_BACKEND: ${BASE_URL_BACKEND}
      BASE_URL_FRONTEND: ${BASE_URL_FRONTEND}

      EMAIL_PROVIDER: ${EMAIL_PROVIDER}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}

      ETHEREAL_HOST: ${ETHEREAL_HOST}
      ETHEREAL_PORT: ${ETHEREAL_PORT}
      ETHEREAL_NAME: ${ETHEREAL_NAME}
      ETHEREAL_USERNAME: ${ETHEREAL_USERNAME}
      ETHEREAL_PASSWORD: ${ETHEREAL_PASSWORD}

    volumes:
      - uploads_data:/app/uploads
      - assets_data:/app/assets
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASWD}
      MYSQL_DATABASE: ${BACKEND_DB}
      MYSQL_USER: ${BACKEND_DB_USER}
      MYSQL_PASSWORD: ${BACKEND_DB_PASWD}
      TZ: America/Mexico_City
    command:
      - --default-time-zone=-06:00
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  uploads_data:
  assets_data: