.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0%;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  background-color: rgb(33, 33, 33);
  padding: 0.5em;
  align-items: center;
}


.header h1 {
  font-size: 1.25rem;
  color: white;
}

.header figure {
  max-width: 100px;
  justify-self: center;
}

.header img {
  width: 100%;
  min-height: 30px;
}


.scrollableContent {
  background-color: #f5f5f5;
  overflow: auto;
  padding: 0em 0.5em 0em 0em;;
}

.logo {
  max-width: 150px;
  justify-self: center;
}

.logo img {
  width: 100%;
}

.content {
  display: grid;
  padding: 1em 2em;
  background-color: white;
  min-height: 100%;
  margin: 0;
}
.columns {
  display: flex;
  width: 100%;
}

.columns > div {
  width: 45%;
  padding: 2%;
}

.imageFit{
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit:contain;
  
}

.centerMessage {
  text-align: center;
  margin-top: 5%;
  width: 50%;
  justify-self: center;
  margin-bottom: 5%;
}

.centerMessage > div  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.centerMessage > div > button{
  background-color:black;
  color: white;
  border-radius: 1em;
  padding: 1em;
}

.buttonContainer{
  display: flex;
  justify-content:flex-end;
}

.buttonContainer > figure > a > img{
  height: 40px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);

}

.list {
  margin-top: 10%;
  list-style-position: inside;
}

.socials{
  margin-top: 1%;
  justify-items: center;
}

.socials > div {
  justify-content: center;
}

.socials > div > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

.socials > div > ul > li{
  padding: 0em 2em;
}

.socials > div > ul > li > a > img {
  max-height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

.footer {
  bottom: 0;
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 1em;
  justify-items: center;
  grid-column: 3;
}

@media (width <= 800px) {

  .content {
    justify-content: center;
  }
  .scrollableContent {
    padding: 0em;
  }
  .centerMessage{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .socials > div > ul > li  {
    padding: 0em 1em;
  }

  .scrollableContent {
    padding: 0;
  }

  .logo {
    width: 80px;
  }
  .columns {
    display: grid;
  }
  .columns > div {
    width: 96%;
    padding: 2%;
  }
}