.fieldsContainer {
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgb(219, 219, 219);
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;

}

.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
}

.imageFit{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.imageFitBack{
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: #494949;
}

.row {
    box-sizing: content-box;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

.subFields{
    align-self: center;
}

.columns{
    padding: 2%;
    gap: 5%;
    display: flex;
}

.columns > article {
    width: 70%;
}
.columns > .imageContainer {
    width: 30%;
}

.errorMessage {
  color: #dc2626;
  margin-bottom: 1rem;   
}

.header{
    padding: 2%;
}


.row div {
    width: 50%;
    padding: 2%;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-self: end;
    margin-bottom: 1%;
    margin-right: 1%;
}

.buttons button {
    background-color: #0033cb;
    color: white;
    padding: 0.75em 3em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
}

.buttons .cancelButton {
    background-color: #4e4e4e;
}

.buttons .deleteButton {
    background-color: #b30000;
}


@media (width <=800px) {
    .columns {
        display: grid;
    }
    .fieldsContainer {
        display: grid;
        width: 99%;
        margin: 0%;
    }

    .row {
        display: grid;
        padding: 0;
        margin: 0;
        
    }

    .row div {
        width: 90%;
    }

    .row input[type="file"] {
        color: transparent;
    }

    .columns > .imageContainer {
        justify-content: center;
        width: 94%;
        height: 100vw;
        margin-bottom: 10%;
    }


    .imageFitBack{
        height: 100vw;
        object-fit:contain;
        background-color: #252525;
    }
    .columns > article {
        width: 100%;
        margin: 0;
        margin-left:1%;
        display: flexbox;
    }

    .buttons{
        margin-top: 10%;
        margin-bottom: 10%;
        gap: 1em;
        justify-self: center;
    }

}