.sidebar {
    background-color: rgb(34, 34, 34);
    grid-area: nav;
    height: 100%;
    padding-block: 2em;
    padding-inline: 1em 1.5em;
    color: white;
}

.sidebar ul {
    list-style: none;
    display: grid;
    gap: 1em;
    background-color: #2b2b2b;
    border-radius: 1em;

    padding-block: 1em;
    padding-inline: 0.5em 1em;
}

.sidebar li {
    padding-block: 0.5em;
    padding-inline: 1em 2em;
    border-radius: 5px;
}

.sidebar a {
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    gap: 0.5em;
}

.sidebar li:hover {
    background-color: #414141;
    font-weight: bold;
}

.iconContainer {
    max-width: 1.7em;
    max-height: 1.7em;
    aspect-ratio: 1/1;
}

.iconContainer img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

@media (width <=800px) {
    .sidebar ul {
        padding-right: 0.2em;
    }

    .sidebar {
        position: fixed;
        z-index: 10;

        transform: translateX(-100%);
        transition: transform 200ms ease-out;
        margin-top: 3.4em;
    }

    .sidebar[data-visible="true"] {
        transform: translateX(0%);
    }
}