.layout {
    display: grid;
    grid-template-areas: "head" "main";
    grid-template-rows: auto 1fr;
    height: 100%;
}

.scrollableContent {
    display: grid;
    grid-area: main;
    overflow-y: auto;

    grid-template-rows: auto 1fr;


    gap: 1em;
    padding: 1em;
    background-color: #f5f5f5;
}

.titleContainer h1 {
    font-size: 1.25rem;
    padding: 0 0.5em;
}

.return {
    max-width: 1.7em;
    max-height: 1.7em;
}

.return img {
    width: 100%;
}

@media (width <=800px) {
    .scrollableContent {
        padding: 0.5em;
        gap: 0.5em;
    }

    .titleContainer h1 {
        font-size: 1.15rem;
    }

}