.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table thead {
    background-color: #FCFCFD;
    text-align: left;
    color: #667085;
}

.table th {
    padding-block: 1em 0.2em;
    padding-inline: 0.2em 0;
}

.table tr {
    border-bottom: thin solid #EAECF0;
}

.table td {
    padding-block: 1.5em;
    padding-left: 0.2em;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.customerColumn {
    width: 40%;
}

.table .actionsColumn {
    width: 5%;
    padding: 0;
}

.table .actionsCell {
    padding: 0;
}

.actionsButton {
    background-color: #302d2d;
    border-radius: 6px;
    display: flex;
    padding: 0.5em;
}

.actions {
    list-style: none;
}

.actionsMenu {
    list-style: none;
    position: absolute;
    display: none;
    background-color: #1b1b1b;
    border-radius: 5px;
}

.actions li:hover>.actionsMenu {
    display: block;
}

.actionsMenu a {
    text-decoration: none;
    color: white;
}

.icon {
    width: 1em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

@media (width <=580px) {
    .table th {
        font-size: 0.8rem;
    }

    .table tbody td {
        font-size: 0.7rem;
    }

    .hidden {
        display: none;
    }

    .icon {
        width: 0.8em;
    }
}