.fields{
    display: grid;
    gap: 1em;
}
.container button {
    background-color: #011655;
    color: white;
    padding: 0.25em 8em;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.container{
    margin-top: 5%;
    gap: 5%;
    display: flex;
    height: 70%;
}

.container > div{
    width: 45%;
    border-style:solid;
    border-color: rgb(216, 216, 216);
    border-radius: 1%;
    padding: 5%;
    align-content: center;
}


@media (width <=800px) {
    .container {
        margin-top: 0%;
        display: grid;
        gap: 0%;
    }

    .container > div{
        height: auto;
        width: 100%;
        margin-top: 10%;
        border-style:none;
        padding: 0%;
    }
  
}