.layout {
    display: grid;
    gap: 1em;
    grid-template-rows: auto 1fr ;
    min-height: 100%;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1em;
}

.layoutShow {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr ;
    min-height: 100%;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1em;
}

.layoutForbidden {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr ;
    min-height: 100%;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1em;
}

.layoutForbidden > div {
    align-self: center;
    justify-self: center;
    box-sizing: content-box;
    padding: 20%;
}

.layoutForbidden > div > ul {
    list-style: none;
    width: auto;
    align-items: center;
}

.layoutForbidden > div > ul > li > a {
    color:black;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar h1 {
    font-size: 1.2rem;
}

.buttonContainer {
    display: flex;
    gap: 1em;
}

.toolbar button {
    background-color: #0033cb;
    color: white;
    padding: 0.75em 3em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
}

.tableContainer {
    min-height: 100%;
}


@media (width <=800px) {
    .layout {
        padding: 1em 0.6em;
        min-height: auto;
    }

    .toolbar h1 {
        font-size: 1rem;
    }

    .toolbar button {
        font-size: 0.8rem;
        padding: 0.7em 1em;
    }
}