.fieldsContainer {
    display: grid;
    gap: 1.5em;
    width: 100%;
}

.fieldsContainer button {
    background-color: #0033cb;
    color: white;
    padding: 0.75em;
    border-radius: 6px;
    font-weight: 600;
    margin-inline: auto;
    width: 100%;
}

.fieldsContainer button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    background-color: #FDECEC;
    color: #ba1417;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
    font-size: 0.9rem;
}

.error figure {
    width: 1.5em;
    height: 1.5em;
}

.error img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(2767%) hue-rotate(345deg) brightness(99%) contrast(105%);
}